<h2>Register your property!</h2>
<form method="get" action="/users/dashboard">
	<button type="submit">Home</button>
</form>

<form method="post" action="/properties">
	<input type="text" placeholder="Address" name="property[address]"><br>
	<input type="text" placeholder="Type of house" name="property[category]"></br>
	<input type="integer" placeholder="Maximum number of guests" name="property[number_of_guests]"><br>
	<input type="integer" placeholder="Number of bathrooms" name="property[number_of_bathrooms]"><br>
	<input type="submit" value="Register">
</form>
	